version: "3"
services:
  botfaz2077:
    container_name: botfaz2077
    image: darthfaz2077/botfaz2077:latest
    environment:
      DISCORD_TOKEN: "your token"
      PREFIX: "bf!"
      ACTIVITY: "with rust"
      RUST_LOG: "info"
    restart: unless-stopped
